.dano--welcome {
  display: flex;
  height: 100vh;
  margin: 0px 50px;

  .dano--welcome--body {
    flex-grow: 1;
    text-align: center;
    padding-top: 50px;

    > * {
      margin-top: 10px;
      margin-bottom: 10px;

      @media only screen and (min-width: 768px) {
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }

    .dano--welcome--body--logo {
      max-width: 80%;
      max-height: 50%;
      height: 100%;
      object-fit: contain;
    }
  }

  .dano--welcome--footer {
    .dano--welcome--footer--text {
      color: inherit;
    }

    .dano--welcome--footer--logo {
      color: inherit;
    }
  }
}
